<!DOCTYPE html>
<html ng-app="coffeeAssembly">
  <head>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Angular Filter with Tests</title>
    <!-- inject:js -->
    <!-- endinject -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <main ng-controller="CoffeeIndexCtrl as coffeeIndex">
      <div class="filter l-box">
        <input type="text" class="search" ng-model="coffeeIndex.q" placeholder="search">
        <label>Strength</label>
        <input type="range" ng-model="coffeeIndex.strength" min="1" max="5" ng-disabled="!coffeeIndex.useStrength">
        <input type="checkbox" ng-model="coffeeIndex.useStrength">
        <label>Roast</label>
        <input type="range" ng-model="coffeeIndex.roast" min="1" max="5" ng-disabled="!coffeeIndex.useRoast">
        <input type="checkbox" ng-model="coffeeIndex.useRoast">
      </div>
      <div class="coffeeIndex pure-g">
        <div ng-repeat="coffee in coffeeIndex.filtered" class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
          <div class="l-box">
            <img ng-src="{{ coffee.image }}" alt="{{ coffee.name }}" class="pure-img">
            <h2>{{ coffee.name | uppercase }}</h2>
            <p>Price <strong>{{ coffee.price | currency: '£' }} / kg</strong></p>
            <p>Strength <strong>{{ coffee.strength }}</strong></p>
            <p>Roast <strong>{{ coffee.roast }}</strong></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
