<h1>New</h1>
<form method="POST" action="/chocolates">
  <div>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </div>
  <div>
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand">
  </div>
  <div>
    <label for="image">Image</label>
    <input type="text" name="image" id="image"></input>
  </div>
  <button>Create Chocolate</button>
</form>
